
<form (ngSubmit)="onSubmit()" #travelForm="ngForm" class="form-inline">
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block text-center">
                            <h1>Origin</h1>
                            <p class="text-muted">Select your origin</p>
                            <div class="input-group mb-1">
                              <input id="typeahead-basic" type="text" class="form-control" name="origin" [(ngModel)]="origin" [ngbTypeahead]="searchForOrigin"/>
                            </div>
                            <app-date-picker></app-date-picker>
                        </div>
                    </div>
                    <div class="card p-2" style="width:44%">
                        <div class="card-block text-center">
                               <h1>Destination</h1>
                            <p class="text-muted">Select your origin</p>
                            <div class="input-group mb-1">
                              <input id="typeahead-basic" type="text" class="form-control" name="destination" [(ngModel)]="destination" [ngbTypeahead]="searchForDestination"/>
                            </div>
                            <app-date-picker></app-date-picker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>


