<form (ngSubmit)="onSubmit(travelForm)" #travelForm="ngForm" class="form-inline">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block text-center">
              <h1>Origin</h1>
              <p class="text-muted">Select your origin</p>
              <div class="input-group mb-1">
                <input id="typeahead-basic" type="text" class="form-control" name="origin" [(ngModel)]="model.originAirport" [ngbTypeahead]="searchForOrigin"
                />
              </div>
              <!--<app-date-picker></app-date-picker>-->
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="departureDate" [(ngModel)]="model.departureDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-addon" (click)="d.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card p-2">
            <div class="card-block text-center">
              <h1>Destination</h1>
              <p class="text-muted">Select your destination</p>
              <div class="input-group mb-1">
                <input id="typeahead-basic" type="text" class="form-control" name="destination" [(ngModel)]="model.destinationAirport" [ngbTypeahead]="searchForDestination"
                />
              </div>
              <!--<app-date-picker></app-date-picker>-->
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="returnDate" [(ngModel)]="model.returnDate" ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-addon" (click)="d2.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto">
    <br>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<!--<div class="container">
    <br>
    <app-flight-list
    [parentList]="list"
    ></app-flight-list>
</div>-->

<div class="container">
    <br>
<ul class="list-group">
  <li [class.active]="mouseOvered" (mouseout)="mouseOvered=false" (mouseover)="onMouseOver($event)" *ngFor="let flight of cheapFlights" class="list-group-item justify-content-between">
   <p> <i class="fa fa-arrow-right" aria-hidden="true"></i> <b> Departure: </b>
    {{flight.dateFrom | date:'fullDate'}} </p>
    
   <p>  <i class="fa fa-arrow-right" aria-hidden="true"></i> 
   Return: {{flight.dateTo | date:'fullDate'}}</p> 
   <h4> <span class="badge badge-info badge-pill">{{flight.price | number:'2.1-2'}}{{flight.currency}}</span> </h4>
  </li>
</ul>
</div>